doctype html
html
  head
    title Vue Hydration Bug
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0', name='viewport')
  body
    //__CONTENT__
    script(src='dist/client.js')
